{{define "foot"}}
<div class="container-fluid foot" style="background: rgb(45,49,54)">
    <div class="container">
    <div class="row">
        <div class="col-sm-4 ">
        <ul class="foot-ul">
            <h5>链接</h5>
            <li><a  href="https://golang.google.cn/" class="text-muted">go</a></li>
            <li><a  href="https://github.com/googege/goo" class= "text-muted">goo</a></li>
            <li><a  href="https://github.com/gin-gonic/gin" class="text-muted">gin</a></li>
            <li><a  href="https://github.com/realnudao" class="text-muted">nudao</a></li>
            <li><a  href="https://github.com/googege" class="text-muted">googege</a></li>
            <li><a  href="https://getbootstrap.com/" class="text-muted">bootstrap</a></li>
        </ul>
        </div>
        <div class="col-sm-4 ">
            <ul class="foot-ul">
                <h5>其它项目</h5>
                <li><a  href="https://github.com/googege/goo" class= "text-muted">go web库</a></li>
                <li><a  href="https://github.com/howto-series/chooseMySchool" class= "text-muted">如何去选择你理想中的大学</a></li>
                <li><a  href="#" class= "text-muted">牛道编码</a></li>
            </ul>
        </div>
        <div class="col-sm-4 ">
            <ul class="foot-ul">
                <h5>关于</h5>
                <li><a  href="/donate" class= "text-muted">捐赠</a></li>
                <li><a  href="/culture" class="text-muted">公司文化</a></li>
                <li><a  href="/join" class="text-muted">加入我们</a></li>
                <li><a  href="/advise" class="text-muted">提出意见</a></li>
                <li><a  href="/contact" class="text-muted">联系我们</a></li>
            </ul>
        </div>
    </div>
    </div>
</div>
{{end}}