{{define "index"}}
    {{template "smallNav".}}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-12">

            </div>
            <div class="col-sm-8 col-12">
                <H3 class="text-center">联系我们</H3>
                <p class="text-primary">首页的<a href="/#recommend" style="font-size: larger;color: red;"> 推荐 </a> 是广告排位，如果您希望这个位置的链接指向您的网站，您可以联系我们。</p>
                <p class="text-left" style="padding-left: 2rem">
                    有任何的商业合作，广告合作请发电子邮件给:
                    <br>
                    <code>824174126@qq.com</code>,
                    <code>imgoogege@gmail.com </code>.

                </p>
            </div>
            <div class="col-sm-2 col-12">

            </div>
        </div>
    </div>
{{end}}