{{define "index"}}
    {{template "smallNav".}}
    <div class="container">
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1"></div>

            <div class="col-10 col-sm-10 col-md-10">
                如果你想加入我们，请发送您的职务需求以及个人简历到<code>imgoogege@gmail.com</code>
                <br>
                <br>
                <ul>
                    如果有职务需求，我们会将信息公布到这个地方：
                    <br>
                    <li>
                        go web后端工程师 10名 要求熟练掌握go语言以及web后端的相关知识，数据库要求mysql pgsql
                    </li>
                    <li>
                        flutter 客户端工程师 5名 要求熟练掌握Dart2编程语言，会使用flutter来写客户端
                    </li>
                    <li>
                        微信小程序+微信公众号工程师 5名 要求可以写出 微信小程序和微信公众号
                    </li>
                    <li>
                        web前端工程师 5名
                    </li>
                </ul>
            </div>

            <div class="col-1 col-sm-1 col-md-1"></div>
        </div>
    </div>

{{end}}