{{define "index"}}
    {{template "smallNav".}}
    <div class="container">
        <div class="row">
            <div class="col-1 sm-col-1 md-col-1"></div>
            <div class="col-10 sm-col-10 md-col-10 " >
                <div style="margin-left: auto;margin-right: auto"><h3 class="text-center">公司文化</h3></div>
                <div>
                    牛道计算机技术有限公司，是一家成立于2019年的公司，公司前期主要是做线上教育。目前的业务主要是"数学酷吗"这个线上网站，网站专注
                    于数学方面的教育，涵盖了数学公式查询，数学试题查询，数学论坛讨论，包括了从小学到考研的全方位的数学知识。
                    <br>
                    <br>
                    本公司的一概主张就是做不好就不做，只要做就要做到最好!
                </div>

            </div>
            <div class="col-1 sm-col-1 md-col-1"></div>
        </div>
    </div>
{{end}}