{{define "text_center"}}
    <br>
    <h3>编辑：请选择主题和TAG</h3>
    <hr>
        <div class="container-fluid">
    <div class="row" style="height: 10rem">
        <div class="col-12 col-sm-12 google-ads">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- mathcool -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3341767526260446"
                 data-ad-slot="3571898718"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
        </div>
  {{template "smallEditor".}}
    <br>
{{end}}