{{define "text"}}
<div class="container text">
<div class="row">
    <div class="col-lg-2 text_left_show">
        {{template "text_left".}}
    </div>
    <div class="col-lg-7" >
        {{template "text_center".}}
    </div>
    <div class="col-lg-3">
        {{template "text_right".}}
        <div style="height: 500px" class="google-ads">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- mathcool -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3341767526260446"
                 data-ad-slot="3571898718"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
</div>
{{end}}