{{define "text_center"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <br>
                <br>
                <br>
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">您访问的内容不存在</h4>
                    <p> 感谢您对我们的支持，您可以前往首页或者搜搜新的信息，谢谢您。</p>
                    <hr>
                    <p class="mb-0">以下给您推荐了一些信息，希望您可以喜欢</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="google-ads" style="height: 300px">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- mathcool -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3341767526260446"
                     data-ad-slot="3571898718"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
{{end}}