{{define "text_center"}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br>
                <div class="card bg-info text-white">
                    <div class="card-body">
                        <p>Sorry 您要找的页面不存在，或者已经飞去火星啦~~~~</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <div class="card  bg-success text-white">
                    <div class="card-body">
                        <p>英雄闲来无事，不如看个广告再走吧：
                        广告牌子招租
                        </p>
                        <img src="/static/img/mathcode.jpg"  class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="card bg-info text-white">
                    <div class="card-body">
                        <p>感谢您的理解，希望您天天开心😊，万事如意~！</p>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- mathcool -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-3341767526260446"
                     data-ad-slot="3571898718"
                     data-ad-format="auto"
                     data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        <br>
    </div>
{{end}}