{{define "text_left"}}
    <div class="text_left ">
                <ul class="navbar-nav navbar-hide">
                    {{/*小窗口*/}}
                    <li class="text-left-li">
                        <a class="text-info" href="/user"><h2><i class="fas fa-user-graduate"></i></h2></a>
                    </li>
                    <li class="text-left-li">
                        <a class="text-info" href="/testlist">试题排行榜</a>
                    </li>
                    <li class="text-left-li">
                        <a class="text-info" href="/myExam">我的试题</a>
                    </li>
                    <li class="text-left-li">
                        <a class="text-info" href="/ranking">我的排名</a>
                    </li>
                    <li class="text-left-li">
                        <a class="text-info" href="/job">工作</a>
                    </li>
                    <li class="text-left-li">
                        <a class="text-info" href="/question?typeList=6">出题</a>
                    </li>
                    <li class="text-left-li">
                        {{/*广告位置招租*/}}
                        <a class="text-info" href="/contact" id="#recommend">推荐</a>
                    </li>
                </ul>
        <ul class="navbar-nav navbar-hide-1">
            {{/*大窗口*/}}
            <li class="text-left-li">
                <a class="text-info" href="/user"><h2><i class="fas fa-user-graduate"></i></h2></a>
            </li>
            <li class="text-left-li">
                <a class="text-info" href="/testlist">试题排行榜</a>
            </li>
            <li class="text-left-li">
                <a class="text-info" href="/myExam">我的试题</a>
            </li>
            <li class="text-left-li">
                <a class="text-info" href="/ranking">我的排名</a>
            </li>
            <li class="text-left-li">
                <a class="text-info" href="/job">工作</a>
            </li>
            <li class="text-left-li">
                <a class="text-info" href="/contact">推荐</a>
            </li>
            <li class=" text-left-li">
                <div class="google-ads-left google-ads">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- mathcool -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-3341767526260446"
                         data-ad-slot="3571898718"
                         data-ad-format="auto"
                         data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </li>
        </ul>
    </div>
{{end}}